<p>From Porto, Portugal, <i>The Lemon Lovers</i> was started by João Pedro Silva and Victor Butuc in 2012.</p>

<p>Their first EP — <b>Hangover</b>, was recorded in a basement for three days in April 2013. Following the release, for two years, the band had the chance to play their music all around Portugal.</p>

<p>Many songs were written during the tour and in 2015 their debut album <b>Loud, Sexy & Rude</b> came out. Recorded and mixed at Reno Studios in Madrid with the mentoring of Braís González. The mastering, by Brian Lucey (who worked with Arctic Monkeys and The Black Keys), took place at Magic Garden Studios, in Los Angeles.</p>

<p><i>The 55</i> and <i>No Shoes</i> were the first two singles, with both music videos directed by Vasco Mendes. <i>No Shoes</i> was featured in <em>New Portuguese Talents</em> by Fnac Portugal and won the <em>best music video of 2016</em> by the media outlet Público P3.</p>

<p>Between 2015 and 2016, The Lemon Lovers did <i>The 55 Bus Tour</i> and <i>Lost in Viségrad Tour</i> on over 40 stages, throughout 12 countries, in less than 60 days. They had the chance to grow their fanbase and play for a wider audience. Following that, their second record came to life — <b>Watching the Dancers</b>, recorded and mixed entirely onto analog tape by João Brandão, and mastered by Miguel Pinheiro Marques at Estúdios Sá da Bandeira in Porto, Portugal.</p>

<p>2017 came with their third European tour, with more than 30 shows in Europe (Spain, France, Italy, Austria, Poland, and Czech Republic).</p>

<p>In 2018 they released <i>half blind</i>, a single that reached <em>over 90.000 views</em> on YouTube. They played major festivals like Vodafone Paredes de Coura and Festival Bons Sons. In 2019 they released another single called <i>one night stand</i>.</p>

<p>During the pandemic situation of 2020 the third album was finished. To be released in September 2021, their self-titled <b>The Lemon Lovers</b>, will be accompanied by a theater tour in Portugal.</p>