<p>SHANGE é o nome artístico de Gonçalo Lemos e marca o início do seu percurso no mundo da música eletrónica.</p>

<p>Após um trajeto enriquecedor por vários projetos e sonoridades diferentes, SHANGE desvenda uma viagem pelo techno, glitch e IDM com uma abordagem muito própria.</p>

<p>Depois do êxito do primeiro single EMBRYO, com o selo da editora Chilli Pepper Fields, surge <b>HEADSPACE</b> e <b>headspace REMIXED</b>. Um tema que representa um equilíbrio entre repouso e movimento, uma viagem que simboliza uma visão artística sustentada pelo <i>beat</i>, ambientes <i>dreamy</i> e uma procura constante de mudança.</p>