<p>h0b0 é um artista de retalhos numa pequena casa na floresta.</p>
<p>por lá vivem todos os sons e texturas que o fascinam.</p>
<p>pássaros que cantam ao amanhecer.</p>
<p>o sino da igreja do outro lado do vale.</p>
<p>a Dory a ladrar às raposas.</p>
<p>de uma guitarra de 12 cordas a um portátil.</p>
<p>de medo a entusiasmo.</p>
<p>de solidão a partilha.</p>
<p>todos os sons podem ser cantados.</p>
<p>todas as ideias podem ser boas.</p>
<p>todas as experiências podem formar um álbum.</p>
<p>tudo pode ser eu.</p>
<p>ser até existir.</p>