<p>(latim <i>ursus + insectum</i>) — substantivo masculino</p>
<p>
    Ser figurado, metade urso, metade insecto;<br>
    que inspira o belo e aspira a consolação.<br>
    avistado pela última vez em 2017.<br>
    Crê-se estar extinto ou em vias de extinção.
</p>