<p>(latim <i>ursus</i> + <i>insectum</i>)</p>
<p>substantivo masculino</p>
<p>Ser figurado, metade urso, metade insecto;</p>
<p>que inspira o belo e aspira a consolação.</p>
<p>Avistado pela última vez em 2017.</p>
<p>Crê-se estar extinto ou em vias de extinção.</p>