---
layout: base.njk
tags: artist
maxWidth: true

pagination:
    data: artistList.artists
    size: 1
    alias: artist
permalink: "artists/{{ artist.title | slug }}/"

eleventyComputed:
  pageTitle: "{{ artist.title }}"
  title: "{{ artist.title }}"
---

            <article class="artistContent">
                <section>
                    {% include artist.description + ".njk" ignore missing %}
                </section>
                <div class="side">
                    <div class="sticky">
                        <figure>
                            <a href="{{ artist.imgFeatured }}" target="_blank"><img src="{{ artist.imgFeatured }}" alt="{{ artist.imgAlt }}" width="{{ artist.imgWidth }}" height="{{ artist.imgHeight }}"></a>
                        </figure>
                        <div class="links" aria-label="Artist's links">
                            <ul>
                            {% for link in artist.links %}
                                <li><a href="{{ link.url }}" {% if link.class == "external" %} class="external" target="_blank"{% endif %}>{{ link.type }}</a>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
