/* VARIABLES
----------------------------------------------------- */
:root {
    --color-text-main: hsl(0, 0%, 4%);
    --color-link: hsl(0, 0%, 4%);
    --color-focus: hsl(0, 0%, 4%);
    --color-nav-current: hsla(332, 67%, 64%, 0.336);
    --bg-color-hover: linear-gradient(to right, hsla(219, 73%, 41%, 0.8) 0%,
                                                hsla(216, 87%, 77%, 0.8) 65%,
                                                hsla(3, 89%, 82%, 0.8) 85%,
                                                hsla(41, 97%, 60%, 0.8) 100%);
    --bg-color-trippy: linear-gradient(180deg, hsla(219, 73%, 41%, 1.0) 0%,
                                                hsla(219, 73%, 41%, 1.0) 5%,
                                                hsla(216, 86%, 77%, 1.0) 25%,
                                                hsla(3, 89%, 82%, 1.0) 35%,
                                                hsla(41, 97%, 60%, 1.0) 42%,
                                                hsla(2, 69%, 57%, 1.0) 46%,
                                                hsla(259, 43%, 38%, 1.0) 55%,
                                                hsla(240, 62%, 27%, 1.0) 66%,
                                                hsla(232, 89%, 21%, 1.0) 71%,
                                                hsla(221, 85%, 10%, 1.0) 79%,
                                                hsla(220, 98%, 18%, 1.0) 85%,
                                                hsla(219, 73%, 41%, 1.0) 95%,
                                                hsla(219, 73%, 41%, 1.0) 100%);
    --color-underline: hsl(0, 0%, 45%);
    --color-underline-hover: hsl(0, 0%, 4%);
    --font-base-size: 1.1rem;
    --p-margin-bottom: 1.1rem;
    --background-color: white;
}

/* ANIMATIONS
----------------------------------------------------- */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes scrollingBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 100%;
    }
}

/* BOX-SIZING RESET
----------------------------------------------------- */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*
----------------------------------------------------- */
body {
    height: 100%;
    width: 100%;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

header,
main {
    padding-left: 1rem;
    padding-right: 1rem;
}

.maxWidth {
    max-width: 60rem;
}

main {
    margin-bottom: 4.5625rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    border: black solid 1px;
    background: var(--background-color);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

/* list voiceover acessbility fix */
ul li::before {
    content: "\200B";
}

figure {
    margin: 0;
}

.logo {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.trippy {
    background: var(--bg-color-trippy);
    background-size: 100% 3000%;
    animation: scrollingBackground 30s infinite linear;
}

.svgContainer {
    padding: 1rem;
}

#label {
    transform-origin: center center;
    animation: spin 100s infinite ease-in-out;
}

#collective {
    transform-origin: center center;
    animation: spin 110s infinite ease-in-out;
}

#management {
    transform-origin: center center;
    animation: spin 120s infinite ease-in-out;
}

.grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 1rem;
}

[aria-current] {
    background-color: var(--color-nav-current);
}

/* ARTIST LIST
----------------------------------------------------- */
/* ul */
.artistList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.artistCard {
    display: flex;
    flex-direction: column;
    padding: calc(100% * (0.2/3.5)) calc(100% * (0.2/4.2)) calc(100% * (0.9/4.2)) calc(100% * (0.2/3.5));
    background: var(--background-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.artistCard img {
    object-fit: cover;
}

/* ARTIST PAGE
----------------------------------------------------- */
.artistContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.side {
    order: 0;
}

.artistContent section {
    padding: 1rem;
    border: black solid 1px;
    order: 1;
}

.side .sticky {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.links {
    border: black solid 1px;
}

.links ul {
    margin: 0;
    padding: 1rem;
    list-style-type: none;
}

.artistContent img {
    width: 100%;
    height: auto;
}


/* INFO PAGE
----------------------------------------------------- */
.contactList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
}

.contact {
    max-width: 91mm;
    max-height: 55mm;
    padding: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* ASPECT RATIO
----------------------------------------------------- */
.aspect-ratio {
    position: relative;
    height: 0;
    width: 100%;
}

.aspect-ratio > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* artist */
.ar-5-6 {
    padding-top: calc(100% / (5/6));
}

/* figure */
.ar-1-1 {
    padding-top: 100%;
}

/* TYPOGRAPHY
----------------------------------------------------- */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: var(--font-base-size);
    word-spacing: .02em;
    color: var(--color-text-main-color);
}

p {
    margin: 0;
    margin-bottom: var(--p-margin-bottom);
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    font-style: italic;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    margin-top: 1.0rem;
    margin-bottom: 1.5rem;
}

a,
a:visited {
    color: var(--color-link);
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-underline);
}

a:hover,
a:active {
    background: var(--bg-color-hover);
    text-decoration-color: var(--color-underline-hover);
}

a:focus {
    outline: var(--color-focus) solid;
}

/* RESPONSIVE BEHAVIOUR
----------------------------------------------------- */
/* 25*16=400 */
@media screen and (min-width: 25rem) {    
    .svgContainer {
        width: 60vh;
    }
}

/* 30*16=480 */
@media screen and (min-width: 30rem) {
    footer {
        width: auto;
    }

    h2 {
        margin-top: 1.5rem;
    }

    .svgContainer {
        padding: 0;
    }
}

/* 35*16=560*/
@media screen and (min-width: 35rem) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .artistContent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
    }
    
    .artistContent section {
        grid-column: 1 / 3;
        order: unset;
    }

    .side {
        display: block;
        order: unset;
    }

    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 1rem;
    }

}

/* 47*16=752 */
@media screen and (min-width: 47rem) {
    .contactList {
        display: grid;
        grid-template-columns: repeat(2, 91mm);
        grid-template-rows: auto;
        gap: 2rem;
    }
}

/* 60*16=960 */
@media screen and (min-width: 60rem) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}