---
layout: base.njk
title: OOPS
permalink: 404.html
---

<div class="logo">
    <figure>
        <img src="/assets/chillipepperfields-desenho.svg" alt="A cartoonish drawing of a chilli pepper with a face in the middle of coloured clouds.">
    </figure>
</div>