---
layout: base.njk
pageTitle: Um não lugar.
permalink: 404.html
logo: true
---
<div class="logo">
    <figure>
        <img src="{{ '/assets/chillipepperfields-desenho.svg' | url}}" alt="A cartoonish drawing of a chilli pepper with a face, floating amidst coloured clouds.">
    </figure>
</div>