---
layout: base.njk
title: About
---

<article>
Chilli Pepper Fields is a label, creative collective and does artistic management.

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque volutpat ac tincidunt vitae. Tristique et egestas quis ipsum.
</article>