---
layout: base.njk
title: Artists
---

<div class="artistList">
    {% for artist in artistList.artists %}
    <div class="artist">
        <h2><a href="/artists/{{ artist.title | slug }}">{{ artist.title }}</a></h2>
        <figure>
            <img src="{{ artist.imgFeatured}}" alt="{{ artist.imgAlt }}" width="{{ artist.imgWidth }}" height="{{ artist.imgHeight}}">
        </figure>
    </div>
    {% endfor %}
</div>