---
layout: base.njk
title: Contacts
---

<div class="contactList">
    {% for contacts in contactsList.contacts %}
    <div class="contact">
        <h2>{{ contacts.name }}</h2>
        <h3>{{ contacts.role }}</h3>
        <a href="mailto:'{{ contacts.email }}'">{{ contacts.email }}</a>
    </div>
    {% endfor %}
</div>