---
layout: base.njk
pageTitle: Chilli Pepper Fields
logo: true
---
<div class="logo">
    <figure>
        <img src="{{ '/assets/chillipepperfields-logo.svg'  | url }}" alt="chilli pepper fields logo">
    </figure>
</div>