---
layout: base.njk
pageTitle: Info
title: Info
---

    <div class="contactList">
        {% for contacts in contactsList.contacts %}
        <div class="contact">
            <h2>{{ contacts.name }}</h2>
            <p>{{ contacts.role }}<p>
            <a href="mailto:'{{ contacts.email }}'">{{ contacts.email }}</a>
        </div>
        {% endfor %}
    </div>